extends layout

block content
  div

  div.container-fluid(class="bootstrapContainer" ng-app='empManagement' ng-controller='loginController')
    div.row
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          <!-- Brand and toggle get grouped for better mobile display -->
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="#")
              image(src="/images/favicon.png" class="logo") Love My City
          

          <!-- Collect the nav links, forms, and other content for toggling -->
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
              li
                a(href="/delhi") Delhi 
                  
              li
                a(href="/bangalore") Bangalore
              li
                a(href="/hyderabad") Hyderabad
              li
                a(href="/mumbai") Mumbai
              li
                a(href="/jaipur") Jaipur
              li(class="active")
                a(href="/lucknow") Lucknow
                  span(class="sr-only") (current)
    div.row
      h2.headingFont.center Lucknow, Nawabo ka saher

    div.row
      div.col-md-12.picContainer
        div.col-md-5
          image(class="cityImage img-thumbnail" src='../images/delhi/1.jpg') 
        div.col-md-5
          image(class="cityImage img-thumbnail" src='../images/delhi/2.jpg')
    div.row.marginTop10             
      div.col-md-12.picContainer
        div.col-md-5
          image(class="cityImage img-thumbnail" src='../images/delhi/3.jpg') 
        div.col-md-5
          image(class="cityImage img-thumbnail" src='../images/delhi/4.jpg')               

      
              
            
